body {
  background-color: rgba(128, 128, 128, 0.05);
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

figure {
  display: inline-block;
  margin: 0; }

input {
  font-size: 1em; }

.container {
  box-sizing: border-box;
  margin: auto; }
  @media (min-width: 320px) {
    .container {
      padding: 0 3.125%; } }
  @media (min-width: 750px) {
    .container {
      padding: 0 3.125%; } }
  @media (min-width: 1050px) {
    .container {
      padding: 0 2.08333%;
      max-width: 1280px; } }

@media (min-width: 320px) {
  .connect-box {
    padding: 6.25% 3.125% 0; } }
@media (min-width: 750px) {
  .connect-box {
    padding: 3.125% 1.5625% 0; } }
@media (min-width: 1050px) {
  .connect-box {
    padding: 2.08333% 1.04167% 0; } }

.what-dose-it-do {
  box-sizing: border-box;
  width: 100%;
  display: inline-block; }
  .what-dose-it-do .card {
    float: left;
    box-sizing: border-box; }
    @media (min-width: 320px) {
      .what-dose-it-do .card {
        width: 100%;
        margin-bottom: 6.25%;
        padding: 0 10px; } }
    @media (min-width: 750px) {
      .what-dose-it-do .card {
        width: 33.33333%;
        margin-bottom: 0;
        padding: 0 15px; } }
    @media (min-width: 1050px) {
      .what-dose-it-do .card {
        width: 33.33333%;
        margin-bottom: 0;
        padding: 0 30px;
        box-sizing: border-box; } }
    .what-dose-it-do .card .card-img {
      box-sizing: border-box; }
      @media (min-width: 320px) {
        .what-dose-it-do .card .card-img {
          width: 33.33333%;
          float: left; } }
      @media (min-width: 750px) {
        .what-dose-it-do .card .card-img {
          float: none;
          width: 100%;
          margin: auto; } }
      @media (min-width: 1050px) {
        .what-dose-it-do .card .card-img {
          width: 100%;
          margin: auto; } }
      .what-dose-it-do .card .card-img img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
    .what-dose-it-do .card figcaption {
      font-size: 1.2em;
      box-sizing: border-box; }
      @media (min-width: 320px) {
        .what-dose-it-do .card figcaption {
          width: 66.66667%;
          float: right;
          text-align: left;
          padding-left: 6.25%;
          padding-top: 6.25%; } }
      @media (min-width: 750px) {
        .what-dose-it-do .card figcaption {
          width: 100%;
          text-align: center;
          float: none;
          padding-left: 0;
          padding-top: 3.125%; } }

.scroll-down {
  display: block;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em; }
  @media (min-width: 1050px) {
    .scroll-down {
      margin-top: 6em;
      margin-bottom: 6em; } }
  .scroll-down a {
    display: inline-block;
    border: 1px solid gray;
    padding: 0.5em 2em;
    background-color: white;
    margin: 0 auto; }

@media (min-width: 320px) {
  #h-d-i-w {
    display: none; } }
@media (min-width: 750px) {
  #h-d-i-w {
    display: inline-block; } }

@media (min-width: 320px) {
  .card-long {
    display: none; } }
@media (min-width: 750px) {
  .card-long {
    display: inline-block; } }
.card-long .img-long {
  width: 30%;
  float: left;
  padding: 1em;
  box-sizing: border-box; }
  .card-long .img-long img {
    width: 100%; }
.card-long figcaption {
  width: 70%;
  float: left;
  box-sizing: border-box; }
  .card-long figcaption h3 {
    font-size: 1.7em; }
  .card-long figcaption p {
    font-size: 1.2em; }

@media (min-width: 320px) {
  .card-long-reverse {
    display: none; } }
@media (min-width: 750px) {
  .card-long-reverse {
    display: inline-block; } }
.card-long-reverse .img-long {
  width: 30%;
  float: right;
  padding: 1em;
  box-sizing: border-box; }
  .card-long-reverse .img-long img {
    width: 100%; }
.card-long-reverse figcaption {
  width: 70%;
  float: left;
  box-sizing: border-box; }
  .card-long-reverse figcaption h3 {
    font-size: 1.7em; }
  .card-long-reverse figcaption p {
    font-size: 1.2em; }

.nav {
  background-color: white;
  box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: inline-block; }
  .nav .logo {
    float: left;
    display: block; }
  .nav ul {
    float: right;
    margin-top: 25px;
    padding-left: 0; }
    @media (min-width: 320px) {
      .nav ul {
        display: none; } }
    @media (min-width: 750px) {
      .nav ul {
        display: inline; } }
    .nav ul li {
      list-style-type: none;
      display: inline;
      padding-left: 15px; }

.search {
  display: inline-block;
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.05);
  padding: 5px 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) inset; }

.form-control {
  border: 0; }

.fa-search {
  color: rgba(0, 0, 0, 0.3); }

.welcome {
  box-sizing: border-box;
  text-align: center; }
  @media (min-width: 320px) {
    .welcome {
      margin-top: 12.5%; } }
  @media (min-width: 750px) {
    .welcome {
      margin-top: 6.25%; } }
  @media (min-width: 1050px) {
    .welcome {
      margin-top: 6.25%; } }
  .welcome h1 {
    text-align: center;
    padding: 1em 1.5em 0; }
    @media (min-width: 320px) {
      .welcome h1 {
        font-size: 2.5em; } }
    @media (min-width: 1050px) {
      .welcome h1 {
        font-size: 3em; } }
  .welcome h3 {
    padding: 0.5em 3em 0;
    line-height: 1.5em; }
    @media (min-width: 320px) {
      .welcome h3 {
        font-size: 1.3em; } }
    @media (min-width: 750px) {
      .welcome h3 {
        font-size: 1.5em; } }
    @media (min-width: 750px) {
      .welcome h3 {
        font-size: 1.7em; } }
  @media (min-width: 320px) {
    .welcome .w-connect-1 {
      display: none; } }
  @media (min-width: 750px) {
    .welcome .w-connect-1 {
      display: none; } }
  @media (min-width: 1050px) {
    .welcome .w-connect-1 {
      display: block; } }

/*# sourceMappingURL=main.css.map */
