

.card{
	margin-bottom:10px;
	border-radius:3px;
  	box-shadow:$dropshadow-card;
  	background-color:$white;
	border-bottom:$border-bottom;
	padding:0;

	@media (min-width:$tablet-min-width){

		width: 49.5%;
		margin-right: 5px;
		&:nth-child(2n+0){
			margin-right:0;
			}
	}
	
}