
.filterBar{
	border-radius:3px;
	background-color:$background-color-filter;
	box-shadow:$dropshadow-filter;
	padding:3px;

}

.mobile{
	@media (min-width:$tablet-min-width){
		display: none;
	}
}

.tablet{
	display:none;
}

.filter-item{
	padding:5px;
	border-bottom:$border-filter-item;
	&:last-child{
		border-bottom:0;
	}
}

.filter-label{
	text-align:center;
	font-size:1.1em;
	font-style:bold;
	display:block;
	width:100%;
	background-color:$theme-color;
	color:$white;
	padding:7px 0;
	margin-top:10px;
	
	@media (min-width:$tablet-min-width){
		text-align:left;
		padding-left:10px;
		// margin-bottom:10px;
		margin-top:0;
	}

	.fa-plus{
		display: none;
		@media (min-width:$tablet-min-width){
			display: block;
			float:right;
			padding:5px 0;
			padding-right:10px;
		}
	}
}

