
.card{
	margin-bottom:10px;
	border-radius:3px;
  	box-shadow:$dropshadow-card;
  	background-color:$white;
	border-bottom:$border-bottom;
	padding:0;
	cursor:pointer;

	@media (min-width:$tablet-min-width){

		width: 49.5%;
		margin-right: 5px;
		&:nth-child(2n+0){
			margin-right:0;
			}
	}

	.blur{
		display: inline-block;

		.title{
			display: inline;
			color:$theme-color;

			h3{
				display: inline-block;
				width: 90%;
			}
		}

		.border-bottom{
			border:$border;
			margin-bottom: 10px;
		}
		.add-to-calender{
			margin-top: 20px;
			display: inline-block;
			width: 10%;
			float: right;
			margin-right: -25px;
		}
		
		p{
			color:$gray;
		}
		
	}
	
}