
.filterBar{
	border-radius:3px;
	background-color:$background-color-filter;
	box-shadow:$dropshadow-filter;
	padding:3px;
	margin-bottom:10px;
	@media (min-width:$tablet-min-width){
		margin-bottom:30px;
	}
}

.filter-item{
	padding:5px;
	border-bottom:$border-filter-item;
	&:last-child{
		border-bottom:0;
	}
}


