.sidebar{
	position:fixed;
	top:50px;
	width:100%;
	// padding-right:30px;

	@media (min-width:$tablet-min-width){
		width: 25%;
		display: inline-block;
		margin-top: 20px;
	}

	overflow-y:hidden;
	// padding-top:10px;
	// padding-bottom:10px;
	padding-right:0;
	padding-left:0;
	z-index:100;


}

.select-style{
	width:100%;	
	line-height:1em;
	border:0;
}

.filterbar-control{
	// display:none;
	text-align:center;
	cursor: pointer;
	color:$theme-color;
	box-shadow:$dropshadow-filter;
	@media (min-width:$tablet-min-width){
		padding-top:10px;
	}
	
}



