.personal-info{
	border-radius:3px;
	box-shadow:$dropshadow-card;
	background-color:$white;
	margin-right:-15px;
	margin-left:-15px;
	@media (min-width:$tablet-min-width){
		margin-right:0;
		margin-left:0;
	}

	.uesr-img{
		img{
			width: 100%;
			border:2px solid $white;
			box-shadow:$dropshadow-card;
		}
		@media (min-width:$tablet-min-width){
			padding:5px;
		}
	}
	.info{
		margin-top: 10px;
		float: right;
		padding-left: 0;
		.row{
			border-bottom:$border;
			p{
				margin: 0;
				padding:5px 0;
			}
		}
	}

}