.nav{
	background-color:$white;
	box-shadow:$dropshadow-nav;
	width:100%;
	position:fixed;
	top:0;
	z-index:10;
	display:inline-block;

	.logo{
		float: left;
		display: block;
	}
	

	ul{
		float: right;
		margin-top:25px;
		padding-left:0;

		@media (min-width:$mobile-min-width) {
		    display: none;
		}
		@media (min-width:$tablet-min-width) {
			display: inline;
		}

		li{
			list-style-type: none;
			display: inline;
			padding-left:15px;	
		}
	}
}

.search{
	display:inline-block;
	border-radius: 15px;
	border:1px solid $light-gray;
	padding: 5px 10px;
	box-shadow:1px 1px 4px transparentize(black,0.8) inset;	
}
.form-control{
	border:0;
}
.fa-search{
	color:transparentize(black,0.7);
}

