.navbar{
	background-color:$white;
	box-shadow:$dropshadow-nav;
}

.search{
	display:inline-block;
	width:100%;
	border-radius: 20px;
	border:1px solid $light-gray;
	padding: 5px 5px;
	box-shadow:1px 1px 4px transparentize(black,0.8) inset;	
	input:focus{
		box-shadow:none;
	}
}

.search-icon{
	display:block;
	padding-top:15px;
	float:right;
	margin-right:15px;
}

.hover, .active{
	a{
		color:$light-theme;
	}
	
	transition: background-color 0.2s, easing-in-out;
}

.user-icon{
	display:block;
	padding-top:15px;
	float:right;
	margin-right:10px;
}

.form-control{
	width:95%;
	border:0;
	padding:0;
	height:1.5em;
	box-shadow:none;

	@media (min-width:$tablet-min-width){
		height:1em;
	}
}

.fa-search{
	@media (min-width:$tablet-min-width){
		padding-left:5px;
		padding-right:5px;	
	}

	padding-top:3px;
	color:transparentize(black,0.7);
	float:left;
}

.navbar-form{
	margin-top:10px;
}

.navbar-default{
	.navbar-toggle{
		border:0;
		margin-bottom: 0;
		&:hover{
			background-color:$light-theme;
			transition: background-color 0.2s, easing-in-out;
			.icon-bar{
				background-color:$white;
				transition: background-color 0.2s, easing-in-out;
			}
		}

			.icon-bar{
				background-color:$light-theme;
				height:3px;
			}
	}
}
.navbar-right{
	a:hover{
		color:$light-theme;
	}
}




