body{
  background-color: $background-gray;
  box-sizing:border-box;
  margin:0;
  padding-top: 50px;
}

a{
  text-decoration:none;
  &:hover{
    text-decoration:none;
  }
}

hr{
  border:$hr-border;
}

.btn{
  text-align: center;
  margin-top:3em;
  margin-bottom: 3em;
  border:$border;
  padding:0.5em 2em;
  background-color: $background-color-lable;
  white-space: normal;
  border-radius:3px;

  @media (min-width:$tablet-min-width){
    margin-top:4em;
    margin-bottom: 4em;
  }

  @media (min-width:$desk-min-width){
    margin-top:4em;
    margin-bottom: 4em;
  }

  a{
    margin:0 auto;
  }
}

ul{
  li{
    text-decoration: none;
  }
}

.listen-area{
  float: left;
  margin-top:30px;
  width: 100%;

  @media (min-width:$tablet-min-width){
    padding:10px 0;
    
  }

  @media (min-width:$large-min-width){
    margin-right:0;
    // padding-left:percentage(2/100);
  }
}
