body{
  background-color: $background-color;
  box-sizing:border-box;
  margin:0;
  padding-top: 50px;
}

a{
  text-decoration:none;
  &:hover{
    text-decoration:none;
  }
  &:active{
    color:$white;
  }
}

hr{
  border:$hr-border;
}

.btn{
  text-align: center;
  margin-top:1.5em;
  // margin-bottom: 3em;
  border:$border;
  padding:0.5em 2em;
  background-color: $background-color-lable;
  white-space: normal;
  border-radius:20px;

  @media (min-width:$tablet-min-width){
    margin-top:3em;
    // margin-bottom: 3em;
  }

  @media (min-width:$desk-min-width){
    margin-top:3em;
    // margin-bottom: 3em;
  }

  a{
    margin:0 auto;
  }
}

ul{
  li{
    text-decoration: none;
  }
}

.listen-area{
  float: left;
  margin-top:36px;
  width: 100%;

  @media (min-width:$tablet-min-width){
    margin-top:20px;
    
  }

  @media (min-width:$large-min-width){
    margin-right:0;
    // padding-left:percentage(2/100);
  }
}
.tabs{
  border-top:$border;
  padding:6px 15px;
}
.tab{
  border:$boder-tab;
  padding:2px 5px;
  border-radius: 3px;
  font-size: 10px;
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
  color:$white;
  box-shadow:$dropshadow-inset;
}
.tab-salsa{
  background-color:$color-salsa;
}
.tab-bachata{
  background-color:$color-bachata;
}
.tab-cha-cha{
  background-color:$color-cha-cha;
}
.tab-zouk{
  background-color:$color-zouk;
}
.tab-kizomba{
  background-color:$color-kizomba;
}
