body{
	h1{
	font-family: 'Italiana', serif;
	}

	h3{
		font-family: 'Italiana', serif;
	}

	p, a{
		font-family: 'Raleway', sans-serif;
		font-size:1em;
	}
	.navbar-brand{
		font-family: 'Italiana', serif;
	}
}
