.pushed-users{
margin-top: 20px;
}
.user{

  background-color:$white;
  border-bottom:$border;
  display: inline-block;

  .other-user-icon{
  	padding: 5px;
  	img{
  		margin: 0;
  	}
  }
  .text{
  	padding:10px;
    background-color:yellow;
  }

  .user-details{
    text-align: left;
    display: none;
    margin:0;
    float:right;
    border-top:$border;
    padding:10px 10px;
    .ideal{
      border-top:$border;
      margin-top: 10px;
      padding-top:10px;
    }    
  }
}

.btn-message{
  float: right;
  border:2px solid $orange;
  color:$orange;
  border-radius:15px;
  padding:3px 10px;
}
.user-toggle{
  cursor: pointer;
  padding:0;
  text-align: left;
}