
.content{
	background-image:url(../img/contra-dance.png);
	background-repeat:no-repeat;
	background-size:cover;


	.text{
		padding:20px;
		margin:30px;
		@media (min-width:$tablet-min-width){
			padding:40px;
			margin:80px 100px;
		}
	
		background-color:transparentize($theme-color,0.1);
		color:$white;
		text-shadow:$dropshadow-text;
		border:1px solid transparentize($white,0.3);

		.title{
			font-family: 'Italiana', serif;
			// font-size: 36px;
			// line-height: 1;
			margin-bottom:20px;
			@media (min-width:$tablet-min-width){
				margin-bottom: 20px;
				margin-top: 15px;

			}
		}

		.d{
			font-family: 'Raleway', sans-serif;
			font-size:20px;

			@media (min-width:$tablet-min-width){
				font-size:24px;
				line-height:1.5;
			}	
		}
	}

}

.col-md-12{
  text-align: center;
}


.col-sm-12{
	padding:25px auto;	
}

.sign-in{
	border-color:$light-theme;
	border-width:2px;
	box-shadow:$dropshadow;
	color:$light-theme;
	font-size:16px;
	border-radius:30px;
	&:hover{
		background-color:$light-theme;
		color:$white;
		text-shadow: $dropshadow-text;
		box-shadow:$dropshadow-hover;
		transition: background-color  0.2s, text-shadow 0.2s, color 0.2s,  box-shadow 0.2s, easing-in-out;
	}
}

.w-i-d-r{
	background-color:$dark-orange;
	color:$white;
	text-shadow: $dropshadow-text;
	box-shadow:$dropshadow;
	margin-bottom:3em;
	font-size:16px;
	border-radius:30px;
	&:hover,&:active{
		background-color:$orange;
		color:$white;
		box-shadow:$dropshadow-hover;
		transition: background-color  0.2s,box-shadow 0.2s, easing-in-out;
	}
}
.start{
	font-size: 18px;
	border-radius:22px;
	margin-bottom:50px;
	background-color:$light-theme;
	box-shadow:$dropshadow;
	color:$white;
	&:hover{
		background-color:$lighten-theme;
		color:$white;
		text-shadow: $dropshadow-text;
		box-shadow:$dropshadow-hover;
		transition: background-color  0.2s, text-shadow 0.2s, color 0.2s,  box-shadow 0.2s, easing-in-out;
	}


}

img{
	width:100%;
	margin: 10px 0;
}

.col-sm-4{
	float:left;
}

.d-show{
	display:none;
	@media (min-width:$tablet-min-width){
		display: block;
	}
}


.reverse{
	// background-color:$gray;

	.col-sm-4{
		float:right;
	}
}
.what-is-dance-roomies{
	padding-top:20px;
	width:100%;
	display:inline-block;
}


