.col-sm-12{
	img{
		width:100%;
	}
	margin-bottom:50px;
}

.d-show{
	display:none;
	@media (min-width:$desk-min-width){
		display: block;
	}
}

.semi-circle{

	background:$background-color-start;
	text-align:center;
	padding:auto;
	
	@include half-circle(0);
	a{
		text-align: center;
		margin-top: 30px;
	}
}

.reverse{
	.col-sm-4{
		float:right;
	}
}
