.content{
	padding-top:30px;
	padding-bottom:30px;
	background-color:$theme-color;
	color:$white;
	text-shadow:$dropshadow-text;
}

.col-md-12{
  text-align: center;
}


.col-sm-12{
	padding:25px auto;	
}

.sign-in{
	border-color:$light-theme;
	border-width:2px;
	box-shadow:$dropshadow;
	color:$light-theme;
	&:hover{
		background-color:$light-theme;
		color:$white;
		text-shadow: $dropshadow-text;
		box-shadow:$dropshadow-hover;
		transition: background-color  0.2s, text-shadow 0.2s, color 0.2s,  box-shadow 0.2s, easing-in-out;
	}
}

.w-i-d-r{
	background-color:$dark-orange;
	color:$white;
	text-shadow: $dropshadow-text;
	box-shadow:$dropshadow;
	&:hover,&:active{
		background-color:$orange;
		color:$white;
		box-shadow:$dropshadow-hover;
		transition: background-color  0.2s,box-shadow 0.2s, easing-in-out;
	}
}

img{
	width:100%;
	margin: 10px 0;
}

.col-sm-4{
	float:left;
}

.d-show{
	display:none;
	@media (min-width:$tablet-min-width){
		display: block;
	}
}

.start{
	
}

.reverse{
	// background-color:$gray;

	.col-sm-4{
		float:right;
	}
}
.what-is-dance-roomies{
	padding-top:20px;
	width:100%;
	display:inline-block;
}


