.what-is-dance-roomies{

	.step{
		padding: 20px;
	}
	.img-circle{
		box-shadow:$dropshadow;
		border:5px solid $white;
	}
	h3{
		font-size: 2em;
		color:$theme-color;
	}

	p{
		font-size: 1.1em;
		color:$gray;
	}
	hr{
		margin-top: 10px;
	}
}