.welcome{
	box-sizing:border-box;
	text-align:center;
	// border:$border-text;
	padding:1em;

	@media (min-width:$mobile-min-width) {
	    margin-top:percentage(80/320);
	    margin-left:0em;
		margin-right:0em;

	}
	@media (min-width:$tablet-min-width) {
		margin-top:percentage(100/640);
		margin-left:3em;
		margin-right:3em;
	} 
	@media (min-width:$desk-min-width) {
		margin-top:percentage(100/960);

	}


	h1{
		text-align: center;
		

		@media (min-width:$mobile-min-width) {
		    font-size: 2.5em;
		}
		@media (min-width:$desk-min-width) {
		    font-size: 3.5em;
		}
	}

	h3{
		padding:0.5em 3em 0;
		line-height: 1.5em;

		@media (min-width:$mobile-min-width) {
		    font-size: 1.3em;
		}
		@media (min-width:$tablet-min-width) {
		    font-size: 1.5em;
		}
		@media (min-width:$tablet-min-width) {
		    font-size: 1.7em;
		}
	}

	.w-connect-1{
		@media (min-width:$mobile-min-width) {
		    display: none;
		}
		@media (min-width:$tablet-min-width) {
		    display: none;
		}
		@media (min-width:$desk-min-width) {
		    display: block;
		}
	}
}


